<mat-menu
    #columnFilter="matMenu"
	xPosition="before"
	yPosition="below">
    <button
		(click)="toggleColumnVisibility(column, $event)"
		*ngFor="let column of columns"
		class="checkbox-item mat-menu-item">
        <mat-checkbox
			(click)="$event.stopPropagation()"
			[(ngModel)]="column.displayed"
			class="checkbox">
            {{ column.title }}
        </mat-checkbox>
    </button>
</mat-menu>

<div fxFlex
	 fxLayout="row"
	 fxLayoutAlign.gt-md="center start"
	 fxLayoutAlign.lt-lg="center center"
	 role="main">
    <div class="content"
		 fxFlex
		 fxFlex.gt-md="80"
		 fxFlex.lt-lg="100"
		 fxLayout="column">
	<div class="table-header"
		 fxLayout.gt-sm="row"
		 fxLayout.lt-sm="column"
		 fxLayoutAlign="space-between center"
		 fxLayoutGap.gt-sm="28px"
		 fxLayoutGap.lt-md="8px">
        <div fxLayout="row" fxLayoutAlign="start center">
            <h1>Produtos</h1>
        </div>
        <div class="search-input-style" fxFlex fxLayout="row" fxLayoutGap="5px">
            <input [formControl]="searchFormControl" matInput oninput="this.value = this.value.toUpperCase()"
				   placeholder="Pesquisar">
            <mat-icon matTooltip="Pesquisar itens">search</mat-icon>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
			<button (click)="searchProduct()"
					class="title-action-button"
					fxFlex="column"
					fxLayoutAlign="center center"
					mat-icon-button
					matTooltip="Pesquisar produto">
                <mat-icon>search</mat-icon>
            </button>
			<button [matMenuTriggerFor]="columnFilter"
					class="title-action-button"
					fxFlex="column"
					fxLayoutAlign="center center"
					mat-icon-button
					matTooltip="Exibir/ocultar colunas">
                <mat-icon>expand_more</mat-icon>
            </button>
			<button (click)="createProduct()"
					class="title-action-button"
					fxFlex="column"
					fxLayoutAlign="center center"
					mat-icon-button
					matTooltip="Adicionar produto">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex fxLayout="column" style="overflow-x: auto; overflow-y: hidden;">
        <table [dataSource]="dataSource" fxFlex mat-table matSort>
            <ng-container *ngFor="let column of columns">
                <ng-container [matColumnDef]="column.property">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                        {{ column.title }}
                    </th>
                    <td *matCellDef="let row" mat-cell>
                        {{ column.displayFn ? column.displayFn(row[column.property]) : row[column.property] }}
                    </td>
                </ng-container>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef class="column-size-60" mat-header-cell></th>
                <td *matCellDef="let row" mat-cell>
                    <div fxLayout="row" fxLayoutGap="8px">
                        <div (click)="updateProduct(row)"
							 class="edit-button-style"
							 fxLayout="column"
							 fxLayoutAlign="center center"
							 matTooltip="Editar Item">
                            <mat-icon class="mt-3 ml-3">edit</mat-icon>
                        </div>
                        <div (click)="deleteProduct(row.id)"
							 class="edit-button-style"
							 fxLayout="column"
							 fxLayoutAlign="center center"
							 matTooltip="Inativar Item">
                            <mat-icon class="mt-3 ml-3">delete</mat-icon>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;"
				class="clickable route-animations-elements" mat-row></tr>
        </table>
        <mat-paginator
			[pageSizeOptions]="[5, 10, 15, 25, 50, 100]"
			[pageSize]="15"
			class="paginator">
        </mat-paginator>
    </div>
</div>
</div>
